@media screen and (min-width:992px) and (max-width:1200px) {
    .logo {
        margin-left: 20px;
    }
    header {
/*                        width: 100%;*/
    }
    #content {
        height: 600.5px;
        width: 992px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .container {
        width: 992px;
        height: 526.8px;
        margin: auto;
        margin-left: 180px;
        margin-bottom: 350px;
    }
    .slider--banner span {
        margin-left: 11.5px;
    }
    .product--box img {
        width: 100px;
        height: 100px;
    }
    .product--box {
        height: 120px;
        margin: 0 10px;
        margin: auto;
    }
    .product--box h1 {
        font-size: 18px;
    }
    .product--box h3 {
        font-size: 14px;
        margin-top: -7px;
    }
    .product--box p {
        font-size: 12px;
        margin-top: 3px;
    }
    figcaption {
        margin-left: 122.4px;
    }
    down {
        margin-top: 15.7px;
    }
    .slider--banner h1 {
        font-size: 2.5em;
        margin-left: 160px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -50px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev {
        margin-right: -50px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    header {
        width: 100%;
    }
    .logo {
        margin-left: 20px;
    }
    .wrapForContacts {
        height: 633px;
    }
    .item {
        height: 650px;
    }
    .slider--banner {
        width: 768px;
        height: 650px;
    }
    .slider--banner h1 {
        font-size: 1.8em;
        margin-left: 175px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        display: none;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev {
        display: none;
    }
    .slider--banner p {
        font-size: 15px;
        margin-left: 50px;
    }
    .slider--banner span {
        color: #fff200;
        margin-left: 11.5px;
    }
    .chooseUs {
        height: 200px;
        margin-top: -60px;
    }
    .chooseUs h1 {
        text-transform: uppercase;
        font-weight: bold;
        padding: 70.5px 0 0 0px;
        font-size: 1.8em;
    }
    .fa {
        font-size: 30px;
        padding: 13.7px 0;
    }
    .fa-search-plus {
        font-size: 14px;
        padding: 10px;
        border-radius: 100px;
    }
    .fa-arrows {
        font-size: 14px;
        padding: 10px;
    }
    #content {
        height: 500.5px;
        width: 768px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .content--size {
        height: 200px;
        width: 200px;
    }
    .content--box--onhover {
        width: 198.4px;
        height: 144.5px;
        background: #503392;
        padding-top: 0.5px;
        display: none;
    }
    .first {
        height: 70px;
        margin-top: 30.5px;
    }
    .first::before,
    .first::after {
        content: '';
        position: absolute;
        left: 40.7%;
        top: 97.5%;
    }
    .first h1 {
        font-size: 1.8em;
        color: white;
        text-transform: uppercase;
        margin: -2px 0 0 -0.9px;
    }
    .container {
        width: 768px;
        height: 390.8px;
    }
    #prod {
        height: 559.5px;
    }
    .products {
        height: 470px;
    }
    .product--box img {
        width: 70px;
        height: 70px;
        margin-left: 114.7px;
    }
    .product--box {
        height: 80px;
        margin: auto;
        margin-top: -5px;
    }
    .product--box h1 {
        font-size: 14px;
        margin-top: 4px;
    }
    .product--box h3 {
        font-size: 10px;
        margin-top: 0px;
    }
    .product--box p {
        font-size: 8px;
        margin-top: 3px;
    }
    figcaption {
        margin-left: 198px;
    }
    .devider {
        height: 500px;
    }
    .getInTouch h1 {
        font-size: 1.8em;
    }
    .getInTouch span {
        margin-left: 10px;
    }
    .getInTouch p {
        font-size: 12px;
        line-height: 20px;
        margin: 10px;
    }
    .getInTouch {
        height: 250px;
    }
    #googlemaps {
        margin-top: 25px;
        height: 380px;
        width: 100%;
        position: absolute;
        z-index: 0;
    }
    #contactform {
        width: 565px;
        height: 280px;
        margin-top: 76.7px;
    }
    .contactform--inform {
        height: 225px;
        width: 345.25px;
    }
    .contactform--inform input[type="text"] {
        width: 170px;
        font-size: 10px;
    }
    .contactform--inform input[type="email"] {
        width: 170px;
        font-size: 10px;
        margin-top: 0;
    }
    textarea {
        width: 345px;
        height: 87px;
        overflow: hidden;
        padding-right: 10px;
    }
    .contactform--inform label {
        color: gray;
    }
    input[type="submit"] {
        width: 100px;
        height: 40px;
    }
    input[type="checkbox"] {
        margin-top: 10px;
        color: rgba(0, 0, 0);
    }
    label {
        font-family: Regular;
        font-size: 16px;
    }
    .contactform--address {
        height: 220px;
        width: 195px;
        margin-top: -13px;
        color: #f3f3f3;
        font-family: Regular;
        font-size: 14px;
        margin-left: 50px;
    }
    .underMap {
        width: 100%;
        height: 60px;
        background: black;
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .underMapLeft {
        color: #7a7a7a;
        padding: 10px;
        font-family: Regular;
        font-size: 16px;
    }
    .underMapRight {
        padding: 0 30px;
    }
    .underMapRight img {
        padding: 0 15px;
        margin: 0;
    }
}

@media screen and (min-width:467px) and (max-width:768px) {
    header {
        width: 100%;
    }
    .logo {
        margin-left: 20px;
    }
    .logo h1 {
        font-size: 15px;
    }
    .wrapForContacts {
        height: 362px;
    }
    .item {
        height: 500px;
    }
    .slide {
        width: 100%;
        background-image: url(../img/overlay.jpg);
        background-repeat: ;
        height: 500px;
    }
    .slider--banner h1 {
        font-size: 1em;
        margin-left: 112.7px;
        margin-top: 233.5px;
    }
    .slider--banner {
        width: 468px;
        height: 650px;
    }
    .item__one {
        display: none;
    }
    .item__two {
        display: none;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        display: none;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev {
        display: none;
    }
    .slider--banner p {
        font-size: 8.9px;
        margin-left: 25px;
    }
    .slider--banner span {
        color: #fff200;
        margin-left: 11.5px;
    }
    .chooseUs {
        height: 112.2px;
        margin-top: -150px;
        width: 468px;
    }
    .chooseUs h1 {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        font-size: 1.5em;
    }
    .chooseUs p {
        font-size: 11px;
        padding: 9px 0 0 11.4px;
    }
    .fa {
        font-size: 20px;
        padding: 13.7px 0 0px 0;
    }
    .fa-search-plus {
        font-size: 14px;
        padding: 10px;
        border-radius: 100px;
    }
    .fa-arrows {
        font-size: 14px;
        padding: 10px;
    }
    #content {
        height: 400px;
        width: 468px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .content--box__subscription {
        width: 142.5px;
        height: 88.5px;
    }
    .content--box__subscription h3 {
        font-size: 10px;
        padding-bottom: 0px;
    }
    #content p {
        font-size: 9px;
        margin-right: 0;
    }
    .content--size {
        height: 138.5px;
        width: 143px;
    }
    .content--box--onhover {
        width: 141.6px;
        height: 65.4px;
        padding-top: 0.5px;
        margin-top: 35px;
        display: none;
    }
    .first {
        height: 62.4px;
        margin-top: 26.6px;
    }
    .first::before,
    .first::after {
        content: '';
        position: absolute;
        left: 32.7%;
        top: 97.5%;
    }
    .first h1 {
        font-size: 1.5em;
        color: white;
        text-transform: uppercase;
        margin: -2px 0 0 -0.9px;
    }
    .container {
        width: 468px;
        height: 200px;
    }
    #prod {
        height: 559.5px;
    }
    .products {
        height: 280px;
    }
    .product--box img {
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }
    .product--box {
        height: 80px;
        margin: auto;
        margin-top: -5px;
        width: 140px;
    }
    .product--box h1 {
        font-size: 12px;
        margin-top: 4px;
    }
    .product--box h3 {
        font-size: 9px;
        margin-top: 0px;
    }
    .product--box p {
        font-size: 7.5px;
        margin-top: 3px;
    }
    figcaption {
        margin-left: 48px;
    }
    .devider {
        height: 500px;
    }
    .getInTouch h1 {
        font-size: 1.5em;
    }
    .getInTouch span {
        margin-left: 7px;
    }
    .getInTouch p {
        font-size: 9px;
        line-height: 20px;
        margin: 5px;
    }
    .getInTouch {
        height: 60px;
        width: 468px;
    }
    #googlemaps {
        margin-top: 25px;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: 0;
        display: none;
    }
    #contactform {
        width: auto;
        height: 200px;
        margin-top: 76.7px;
    }
    .contactform--inform {
        display: none;
    }
    .contactform--inform input[type="text"] {
        display: none;
    }
    .contactform--inform input[type="email"] {
        display: none;
    }
    textarea {
        display: none;
        /*
  
*/
    }
    .contactform--inform label {
        color: gray;
    }
    input[type="submit"] {
        display: none;
    }
    input[type="checkbox"] {
        display: none;
    }
    label {
        display: none
    }
    .contactform--address {
        height: 80px;
        width: 420px;
        margin-top: 20px;
        color: #f3f3f3;
        font-size: 10px;
        margin-left: 0px;
        text-align: center;
    }
    .underMap {
        width: 100%;
        height: 60px;
        background: black;
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .underMapLeft {
        color: #7a7a7a;
        padding: 5px;
        font-family: Regular;
        font-size: 12px;
    }
    .underMapRight {
        padding: 0 10px;
    }
    .underMapRight img {
        padding: 0 10px;
        margin: 0;
    }
}

@media screen and (min-width:1030px) {
    .bg {
        display: none;
    }
}

@media screen and (min-width:320px)and (max-width:467px) {
    header {
        width: 100%;
    }
    .logo {
        margin-left: 20px;
    }
    .logo h1 {
        font-size: 10px;
    }
    .wrapForContacts {
        height: 162.6px;
    }
    .item {
        height: 350px;
    }
    .slide {
        width: 100%;
        background-image: url(../img/overlay.jpg);
        background-repeat: ;
        height: 350px;
    }
    .slider--banner h1 {
        font-size: 0.9em;
        margin-left: 42.7px;
        margin-top: 183.5px;
    }
    .slider--banner {
        width: 320px;
        height: 493px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        display: none;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev {
        display: none;
    }
    .slider--banner p {
        font-size: 6px;
        margin-left: 11px;
    }
    .slider--banner span {
        color: #fff200;
        margin-left: 0px;
    }
    .chooseUs {
        height: 112.2px;
        margin-top: -150px;
        width: 320px;
    }
    .chooseUs h1 {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        font-size: 0.9em;
    }
    .chooseUs p {
        font-size: 11px;
        padding: 9px 0 0 11.4px;
    }
    .fa {
        font-size: 20px;
        padding: 13.7px 0 0px 0;
    }
    .fa-search-plus {
        font-size: 14px;
        padding: 10px;
        border-radius: 100px;
    }
    .fa-arrows {
        font-size: 14px;
        padding: 10px;
    }
    #content {
        height: 630px;
        width: 180px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .content--box__subscription {
        width: 100px;
        height: 88.5px;
    }
    .content--box__subscription h3 {
        font-size: 7px;
        padding-bottom: 0px;
    }
    #content p {
        font-size: 6px;
        margin-right: 0;
    }
    .content--size {
        height: 118.5px;
        width: 100px;
    }
    .content--box--onhover {
        display: none;
    }
    .first {
        height: 32.4px;
        margin-top: 10.6px;
    }
    .first::before,
    .first::after {
        content: '';
        position: absolute;
        left: 40.7%;
        top: 100%;
        border: 40px solid transparent;
        border-top: 20px solid #5d3496;
    }
    .first h1 {
        font-size: 0.7em;
        color: white;
        text-transform: uppercase;
        margin: -2px 0 0 -0.9px;
    }
    .container {
        width: 320px;
        height: 250px;
        margin-top: -70px;

    }
    #prod {
        height: 280px;

    }
    .products {
        height: 280px;
    }
    .product--box img {
        width: 40px;
        height: 40px;
        margin-left: 32px;
        margin-top: 15px;
    }
    .product--box {
        height: 80px;
        margin: auto;
        margin-top: -5px;
        width: 140px;
        
    }
    .product--box h1 {
        font-size: 9px;
        margin-top: 0px;
    }
    .product--box h3 {
        font-size: 8px;
        margin-top: 0px;
    }
    .product--box p {
        font-size: 6.5px;
        margin-top: 0px;
    }
    figcaption {
        margin-left: 78px;
    }
    .devider {
        height: 430px;
    }
    .getInTouch h1 {
        font-size: 0.7em;
    }
    .getInTouch span {
        margin-left: 7px;
    }
    .getInTouch p {
        font-size: 9px;
        line-height: 15px;
        margin: 0px;
    }
    .getInTouch {
        height: 35px;
        width: 320px;
    }
    #googlemaps {
        margin-top: 25px;
        height: 200px;
        width: 100%;
        position: absolute;
        z-index: 0;
        display: none;
    }
    #contactform {
        width: auto;
        height: 100px;
        margin-top: 27.7px;
        
    }
    .contactform--inform {
        display: none;
    }
    .contactform--inform input[type="text"] {
        display: none;
    }
    .contactform--inform input[type="email"] {
        display: none;
    }
    textarea {
        display: none;
        /*
  
*/
    }
    .contactform--inform label {
        color: gray;
    }
    input[type="submit"] {
        display: none;
    }
    input[type="checkbox"] {
        display: none;
    }
    label {
        display: none
    }
    .contactform--address {
        height: 80px;
        width: 320px;
        margin-top: 20px;
        color: #f3f3f3;
        font-size: 10px;
        margin-left: 0px;
        text-align: center;
    }
    .underMap {
        width: 100%;
        height: 40px;
        background: black;
        opacity: .75;
        color: white;
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .underMapLeft {
        color: #f3f3f3;
        padding: 10px;
        font-family: Regular;
        text-align: center;
        font-size: 10px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .underMapRight {
        padding: 0 30px;
        display: none;
    }
    .underMapRight img {
        padding: 0 15px;
        margin: 0;
    }
}

@media screen and (min-width:320px)and (max-width:1031px) {
    nav {
        display: none;
    }
    .bg {
        width: 100%;
        background: #ffffff;
        height: 70.1px;
        line-height: 60px;
        border-bottom: 1px solid #dddddd;
    }
    .hamburger {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
        display: inline-block;
    }
    .cross {
        display: none;
        background: none;
        position: absolute;
        top: 0px;
        right: 0;
        padding: 7px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 3em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    .menu {
        z-index: 1000000;
        font-weight: bold;
        font-size: 0.8em;
        width: 100%;
        background: #f1f1f1;
        position: absolute;
        text-align: center;
        font-size: 12px;
    }
    .menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }
    .menu li {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: #dddddd 1px solid;
    }
    .menu li:hover {
        display: block;
        background: #ffffff;
        padding: 15px 0 15px 0;
        border-bottom: #dddddd 1px solid;
    }
    .menu ul li a {
        text-decoration: none;
        margin: 0px;
        color: #666;
    }
    .menu ul li a:hover {
        color: #666;
        text-decoration: none;
    }
    .menu a {
        text-decoration: none;
        color: #666;
    }
    .menu a:hover {
        text-decoration: none;
        color: #666;
    }
    .glyphicon-home {
        color: white;
        font-size: 1.5em;
        margin-top: 5px;
        margin: 0 auto;
    }
    .bg {
        display: inline-block;
        font-size: 12px;
    }
    a {
        color: #336699;
    }
}
